*{padding: 0; margin: 0; box-sizing: border-box;}
 
.page-logo {
    width: 200px;
  }
  
.my-logo {
    width: 70px;
    position: absolute;
    top: 10px;
    right: 10px;
  }


body{
    min-height: 90vh;
    background: url('https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg'); 
    background-position: center;
    background-size: cover;

    font-family: "Roboto Mono", monospace;
    color: white;
    text-align: center;
}

.container{
    text-align: center;
    padding: 5px;
}

.header h1{
    font-size: 70px;
    color: white;
    padding-top: 25px;
} 

.header h2{
    font-size: 22px;
    padding-top: 10px;
}



body > img {
    margin: 0 10px;
    text-align: center;

  }
  
  img {
    max-height: 200px;
    padding: 5px;
    padding-top: 10px;
  }
  
  .container2 img{
    margin: 0 10px;
    text-align: center;
    padding-top: 10px;

  }


  .your-list{
    font-size: 22px;
    padding-top: 15px;
    color: white;
  }