*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono',monospace;
}
body {
    min-height: 80vh;
    background-color: black;
}

.container {
    text-align: center;
    margin: 20px;

}

.page-title {
    color:#ffffff;
    margin: 40px 0 5px;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-subtitle {
    color:#ffffff;
    margin-top: 20px;
    font-size: 25px;
}

.page-logo {
    width: 200px;
}

.my-logo {
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.distance-img{
    width: 800px;
    margin-top: 20px;
}

.input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.temp button{
    margin-top: 25p;
    color: antiquewhite;
}


.action-btn{
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}

.action-btn:hover{
    border: 1px solid #fff;
    background: #fff;
    transition: 0.5s;
    color: darkblue;
}

.resultado{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}