*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: black;
}

.header{
    min-height: 100vh;
}

/* -------------- Nav Bar Section -------------- */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}

.nav-links{
    flex: 1;
    text-align: right;
    font-size: 12px;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;

}

.nav-links ul li a{
    color: gainsboro;
}
