body {
    /*
     * FIXME:
    background-image: 'https://wallpapercave.com/wp/wp2422969.jpg';

     * Give this page a background color!
     */

  background-image: url('https://getwallpapers.com/wallpaper/full/d/2/5/838416-alakazam-wallpapers-1920x1080-for-phone.jpg');
  background-position: center;
  background-size: cover;
     /*
     * FIXME:
     * Center this heading!
     */
    text-align: center;
    font-family: 'Helvetica Neue', arial;
    font-weight: 100;
  }
  
  h1 {
    font-weight: 900;
    font-size: 3em;
  }
  
  p {
    margin: 0;
  }
  
  /* 
   * NOTE: 
   * these lines of CSS will let our 8-ball hold its shape 
   */
  div.eight-ball, div.answer {
    border: 1px solid transparent;
  }
  
  /* The outside circle! */
  div.eight-ball {
    /*
     * FIXME:
     * Let's give the eight ball a background color!
     */
  background:linear-gradient(red, white);
  
    /*
     * FIXME:
     * Let's use border-radius to make the div round!
     */
    border-radius: 50%;
  
    /*
     * FIXME:
     * Let's give this eight ball and width and height of 
     * 300 pixels.
     */
    height: 300px;
    width: 300px;
  
  
    /* "Center the 8 ball so it's the center of the screen */
    margin: 0 auto;
    font-weight: 400;
  }
  
  /* The inside circle! */
  div.answer {
    background-color: white;
    border: 10px solid black;
    
    /*
     * FIXME:
     * Let's use border-radius to make the div round!
     */
    border-radius: 50%;
  
    /*
     * FIXME:
     * make me 50% wide and 50% high as the outside ball!
     */
  
    height: 150px;
    width: 150px;
  
    /*
     * FIXME:
     * Place me in the middle of the outside ball!
     */
    margin: 65px auto;
  }
  
  
  p#eight {
    /*
     * FIXME:
     * Make our "8" large enough; let's try 5rems.
     */
    font-size: 5rem;
    margin: 20% auto;
    color: black;
  }
  
  /*
   * FIXME:
   * We'll design the messages. Let's make these 
   * messages "lightblue".
   */
  p#answer {
    
    color: lightblue;
    padding: 20px;
    letter-spacing: 2px;
  }
  
  button, input {
  
    /* 
     * FIXME:
     * Let's give the margin and padding of all buttons
     * and text boxes a margin of 20 pixels, and a padding 
     * of 10 pixels.
     */

    margin: 20px;
    padding: 10px;
  
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Helvetica Neue', arial;
    font-weight: 100;
    letter-spacing: 2px;
  
    /* 
     * FIXME:
     * Let's make the button animate!
     */
  
  }
 
  button {
    background-color: #425FA9 ;
    color: #FFCD0D;
    font-weight: bold;
    border: 4px solid white ;
  }
  /*
   * FIXME:
   * modify me so words get larger when I HOVER over a button
   */ 

   button:hover{
    border: 4px solid black ;
    outline: none;
    background-color: red;
    color: white;
    transform: scale(1.20);
      
   }

   button:active{
    transform: scale(0.98);
   }
  
  
  
  