*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/865/282/342/johnny-bravo-cartoon-network-minimalism-cartoon-wallpaper-thumb.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    min-height: 100vh;
    size: 80px;
  }
  
  .position{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    text-align: center;
    min-height: 75vh;
  }

.page-title {
    color: #ffffff;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.position h3 {
  font-size: 25px;
}

.page-subtitle {
    margin-top: 50px;
    font-size: 20px;
  }


.position h6{
    font-size: 14px;
}

.position h4{
  padding-top: 20px;
  font-size: 20px;

}

.action-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid blue;
  padding: 12px 34px;
  font-size: 13px;
  background: blue;
  position: relative;
  cursor: pointer;

}

.action-btn:hover{
  color: blue;
  border: 1px solid white;
  background: white;
  transition: 0.5s;

}

  .page-logo {
    width: 250px;
  }
  
  .my-logo {
    width: 70px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .resultado {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
  }
  